includes:
	- phpstan.base.neon

parameters:
	ignoreErrors:
		# Exception rules
		# Ignore uncatched exceptions defined by parent
		- '#^Unused @throws Symfony\\Component\\Console\\Exception\\LogicException annotation$#'
		# Uncatched exception which is catched internally - must be listed in annotations for static analysis
		- '#^Unused \@throws Modette\\Templates\\Themes\\Exception\\NoTemplateFoundException annotation$#'
		# Intentional incompatibility
		- '#^PHPDoc tag \@throws with type Modette\\Exceptions\\Logic\\NotImplementedException is not compatible with parent$#'
		# Bug, they are same
		- '#^PHPDoc tag \@throws with type Modette\\Templates\\Themes\\Exception\\IncompatibleResolverException\|Modette\\Templates\\Themes\\Exception\\NoTemplateFoundException is not compatible with parent Modette\\Templates\\Themes\\Exception\\IncompatibleResolverException$#'

		# Core
		# Should not happen
		- message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
		  path: %currentWorkingDirectory%/packages/core/src/Boot/Configurator.php
		- message: '#^Parameter \#2 \$keys of closure expects array, array\<int, string\>\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/core/src/Boot/Helper/EnvironmentHelper.php
		# Intentional
		- message: '#^Method Modette\\Core\\DI\\Container\:\:findByTag\(\) should return array but return statement is missing\.$#'
		  path: %currentWorkingDirectory%/packages/core/src/DI/Container.php

		# ORM
		# Intended
		- message: '#^Variable property access on Nextras\\Orm\\Entity\\IEntity\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php
		# Shoult not happen
		- message: '#^Parameter \#2 \$search of function array_key_exists expects array, array\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php
		- message: '#^Argument of an invalid type array\|false supplied for foreach, only iterables are supported\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php

		# Templates
		# Should not happen
		- message: '#^Parameter \#1 \$path of function dirname expects string, string\|false given.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-templates/src/Themes/Utils/Classes.php

		# UI
		# Waiting for nette/utils:3.0
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/FakeTranslator.php
		# nette/application have no typehint specified
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/Utils/FlashMessages.php
		# Broken purposely - form translator is disabled
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/Forms/Form.php
		# It can be null
		- message: '#Strict comparison using === between string and null will always evaluate to false\.#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/Themes/ThemeAblePresenter.php

		# ModuleInstaller
		# Should not happen
		- message: '#^Parameter \#1 \$input of static method Nette\\Neon\\Neon\:\:decode\(\) expects string, string\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Files/NeonReader.php
		- message: '#^Only booleans are allowed in a ternary operator condition, int\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Files/NeonReader.php
		- message: '#^Parameter \#1 (.+) of static method Composer\\Json\\JsonFile\:\:parseJson\(\) expects string, string\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Resolving/ModuleResolver.php
		# Cannot happen - used string is always same
		- message: '#^Parameter \#1 \$str of function substr expects string, string\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Loading/LoaderGenerator.php
