includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/nextras/orm-phpstan/extension.neon

parameters:
	tmpDir: %currentWorkingDirectory%/var/tmp

	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		checkedExceptions:
			- Modette\Exceptions\Check\CheckedException

