includes:
	- temp/phpstan/vendor/nextras/orm-phpstan/extension.neon
	- temp/phpstan/vendor/pepakriz/phpstan-exception-rules/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		checkedExceptions:
			- Modette\Core\Exception\Check\CheckedException

	ignoreErrors:
		# Core
		# Created dynamically when container is compiled
		- '#^Call to an undefined method Nette\\DI\\Container\:\:initialize\(\)\.$#'
		# Configurator.php - should not happen
		- '#^Only booleans are allowed in a negated boolean, mixed given\.$#'

		# UI
		# Cannot specify, method is declared in non-typed code
		- '#^Method Modette\\UI\\Base\\(Control\\BaseControl|Presenter\\BasePresenter)\:\:flashMessage\(\) has no return typehint specified\.$#'
