includes:
	- phpstan.base.neon

parameters:
	ignoreErrors:
		# Not a bug
		- '#^Unused @throws Nette\\Application\\AbortException annotation$#'
		- '#^Unused @throws Symfony\\Component\\Console\\Exception\\LogicException annotation$#'

		# Core
		# Should not happen
		- message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
		  path: %currentWorkingDirectory%/packages/core/src/Boot/Configurator.php
		- message: '#^Parameter \#2 \$keys of closure expects array, array\<int, string\>\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/core/src/Boot/Helper/EnvironmentHelper.php

		# ORM
		# Intended
		- message: '#^Variable property access on Nextras\\Orm\\Entity\\IEntity\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php
		# Shoult not happen
		- message: '#^Parameter \#2 \$search of function array_key_exists expects array, array\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php
		- message: '#^Argument of an invalid type array\|false supplied for foreach, only iterables are supported\.$#'
		  path: %currentWorkingDirectory%/packages/core-ext-orm/src/Collection/Synchronizer.php

		# UI
		# Waiting for nette/utils:3.0
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/FakeTranslator.php
		# nette/application have no typehint specified
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/Utils/FlashMessages.php
		# Broken purposely - form translator is disabled
		- message: '#(.*)should be (contravariant|covariant) with(.*)#'
		  path: %currentWorkingDirectory%/packages/core-ext-ui/src/Forms/Form.php

		# ModuleInstaller
		# Should not happen
		- message: '#^Parameter \#1 \$input of static method Nette\\Neon\\Neon\:\:decode\(\) expects string, string\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Files/FileIO.php
		- message: '#^Only booleans are allowed in a ternary operator condition, int\|false given\.$#'
		  path: %currentWorkingDirectory%/packages/module-installer/src/Files/FileIO.php
