version: 1

loader:
	class: Tests\Modette\Monorepo\Loader
	file: Loader.php

files:
	- config/config.tests.neon

child-modules:
	packages/**:
		- modette/code-generator
		- modette/core
		- modette/core-ext-admin
		- modette/core-ext-api
		- modette/core-ext-front
		- modette/core-ext-http
		- modette/core-ext-mail
		- modette/core-ext-orm
		- modette/core-ext-sql
		- modette/core-ext-templates
		- modette/core-ext-ui
