version: 1

loader:
	class: Tests\Modette\Monorepo\Loader
	file: tests/Loader.php

files:
	- packages/core/config/config.neon
	- packages/core-ext-templates/config/config.neon
	- packages/core-ext-sql/config/config.neon
	- packages/core-ext-orm/config/config.neon
	- packages/core-ext-mail/config/config.neon
	- packages/core-ext-http/config/config.neon
	- packages/core-ext-ui/config/config.neon
	- packages/core-ext-api/config/config.neon
	- packages/core-ext-admin/config/config.neon
	- packages/core-ext-front/config/config.neon
	- packages/code-generator/config/config.neon
	- tests/config/config.tests.neon
